<footer>
    <div class="content">
      <div class="block">
          <div>Copyright © 2021 - Goc Truyen Tranh</div>
          <div>Email: goctruyentranh24h@gmail.com</div>
          <div><a target="_blank" rel="noopener noreferrer"
                  href="https://www.facebook.com/goctruyentranh24h">Facebook</a>||<a target="_blank"
                  rel="noopener noreferrer" href="/chinh-sach">Privacy Policy</a></div>
      </div>
  </div>
  </footer>
</html>
